@import "tailwindcss";
@tailwind utilities;

@layer base{
    .nav-item {
        @apply hover:bg-white/50  hover:text-black text-[0.8rem] font-bold py-2 px-6 rounded-full transition duration-300 max-md:px-4
    }
}

@theme {
  --animate-ping-large: ping-large 1s ease-in-out infinite;
  /* --animate-ping-large: ping-large 1s ease-in-out infinite; */
  @keyframes 
  ping-large {
     75%, 100% {
    transform: scale(4);
    opacity: 0;
  }
  } 
}
@theme {
  /* --animate-ping-large: ping-large 1s ease-in-out infinite; */
  --animate-spin-slow: spin-slow 6s linear infinite;
  @keyframes spin-slow {
    to {
    transform: rotate(360deg);
  }
  }
}
@theme {
  /* --animate-ping-large: ping-large 1s ease-in-out infinite; */
  --animate-spin-md: spin-md 4s linear infinite;
  @keyframes spin-md {
    to {
    transform: rotate(360deg);
  }
  }
}
