@import "tailwindcss";

@layer base{
    .nav-item {
        @apply hover:bg-white/50  hover:text-black text-[0.8rem] font-bold py-2 px-6 rounded-full transition duration-300 max-md:px-4
    }
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
